{% comment %}
Template para el widget de edición de etapas de una fórmula
{% endcomment %}
<div class="etapas-widget">
  <div class="etapas-list">
  </div>
  <div class="etapa-add-form">
    <select class="etapa-selector">
      <option value="">-- Seleccionar Etapa --</option>
    </select>
    <div class="etapa-fields">
      <input type="number" class="duracion-min" placeholder="Duración (min)" min="0">
      <textarea class="descripcion" placeholder="Descripción de la etapa"></textarea>
      <button type="button" class="add-etapa">Agregar Etapa</button>
    </div>
  </div>
</div>